$white:            #ffffff;
$black:            #000000;

$dark:             #343440;
$yellow:           #FBEE77;
$yellow-secondary: #CBC063;
$red:              #D05353;

$shadow:           rgba(0, 0, 0, 0.5);