$white:            #ffffff;
$black:            #000000;

$dark:             #343440;
$yellow:           #FFE034;
$yellow-secondary: #F1E8B8;
$red:              #D05353;

$shadow:           rgba(0, 0, 0, 0.5);