<article class="details">

    <header class="details__trailer">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/LdOM0x0XDMo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </header>

    <main class="details__content">
        <section class="details__presentation">
            <picture class="details__poster">
                <img src="./../../../../assets/images/avengers.png" alt="">
            </picture>
            <section class="details__info">
                <h2 class="details__title">Movie Name <span class="details__year">2023</span></h2>
                
                <span class="details__genre">
                    Action
                </span>

                <p class="details__description">
                    Teen Miles Morales becomes the Spider-Man of his universe, and must join with five spider-powered individuals from other dimensions to stop a threat for all realities.
                </p>
            </section>
        </section>
        <section class="details__actions">
            <app-button>
            </app-button>
        </section>
    </main>

    <footer class="details__footer">
        <a href="/">Go back</a>
    </footer>
    
</article>